.container {
  padding: 10px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 5px;
}

.form-container > *,
option {
  font-family: "Rubik";
}

.form-container > .product-input {
  padding: 0.35rem;
  border: 1px solid hsl(0, 0%, 59%);
  border-radius: 5px;
  width: max-content;
}

.product-input::placeholder {
  font-family: "Rubik";
}

.btn-container {
  border-top: 1px solid silver;
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: right;
}

.btn {
  font-family: "Rubik", sans-serif;
  margin: 0 5px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn:disabled {
  background-color: grey !important;
  cursor: not-allowed;
}

textarea {
  width: 20rem;
  font-family: "Rubik";
}

.required {
  color: red;
}

@media (max-width: 378px) {
  .container {
    width: 90%;
  }

  textarea {
    width: 14rem;
  }
}
